* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  width: 30%;
}

.home-screen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: center;
  gap: 1rem;
}

